// google font
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

$josefin-sans: "Josefin Sans", sans-serif;

// theme default
$theme-font: "Josefin Sans", sans-serif;
$theme-bg: #ffffff;
$theme-color: #27346d;

// colors
$primary-color: #ffffff;
$secondary-color: #27346d;
$tertiary-color: #006bff;
$quaternary-color: #545a79;
$quinary-color: #3a4a95;
$senary-color: #3b368c;
$section-bg: #f7f6fe;
